*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}
html{
  font-size: 16px;
  line-height: 24px;
  font-family: Roboto, sans-serif;
}
header{
  background-color: hsl(20, 40%, 70%);
  color: rgba(27, 27, 27,0.8);
  
}
header h1{
  font-size: 4rem;
  line-height: 5rem;
  height: 5rem;
  text-align: center;
  font-family: serif
}
.contacts{
  width: 50%;
  border:1px solid darkgrey;
  list-style:none;
  margin: 1rem auto 5rem auto;
  border-radius: 3px;
    
}
.contact{
  background-color: beige; 
  height: 7rem;
  border-bottom: 1px solid darkgrey;
}
.contact:hover{
  background-color:azure;
  cursor:context-menu;
}
.contact .delete{
  float:right;
  width: 10%;
  height: 7rem;
  background-color: darkgray;
  text-align:center;
  line-height:7rem;
  font-size: 2rem;
  display:block;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/179202/circle-x.svg);
  background-repeat: no-repeat;
  background-size: 50% 50%;
  background-position: center center;
  border-bottom: 1px solid #999;
  border-top: 1px solid #ddd;
  cursor: pointer;
}
.contact .delete:hover{
  background-color: lightgray;
}
.contact h3{
  color: black;
  padding-top: 1.0rem;
  line-height: 3.0rem;
  font-size: 2.0rem;
  padding: 0 2rem;
}
.contact:hover h3{
  color: hsl(25, 60%, 40%);
}
.contact p{
  color: #666;
  line-height: 1.5rem;
  font-size: 1.2rem;
  padding: 0 3rem;
  vertical-align: top;
}
.fab{
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/179202/plus.svg);
  background-repeat: no-repeat;
  background-color: hsl(34, 30%, 60%);
  background-position: center center;
  background-size: 50% 50%;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  box-shadow: 2px 2px 20px hsl(0, 0%, 0%);
  transition: 0.5s;
}
.fab:hover{
  background-color: hsl(30, 70%, 60%);
    cursor: pointer;
}
.overlay{
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 0.6);
  position:fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: none;
  z-index: 100;
}
.contactform{
  position: fixed;
	display: none;
	z-index: 200;
  width: 80vw;
  height: 80vh;
  top: 10vh;
  left: 10vw;
  background-color: white;
  box-shadow: 2px 2px 12px hsl(0, 0%, 0%);
  transform:scale(.7);
  transition: 0.5s;
}
.contactform input{
	width: 80%;
	font-size: 1rem;
	padding: .25rem 2rem;
	margin: 1rem;
}
.contactform button{
	border: none;
	font-size: 1rem;
	padding: .20rem 1.5rem;
	background-color:#26637F;
	color: white;
	margin: 2rem;
}
.contactform button:hover {
    background-color:#4063a0;
}